.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
  }
  
  .back-to-top button {
    background-color: #00d8f5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start slightly below its final position */
  }
  
  .back-to-top button:hover {
    opacity: 1;
  }
  
  .back-to-top.visible button {
    opacity: 0.7; /* Change opacity to make it visible */
    transform: translateY(0); /* Move to final position */
  }
  
  .back-to-top button:hover {
    opacity: 1;
  }
  