.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 0 2rem;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
}

.hero-title h1 {
  font-size: 3rem; /* Default font size for main title */
  margin: 1rem 0;
}

.hero-title h2 {
  font-size: 1.5rem; /* Default font size for subtitle */
  font-weight: 500;
  max-width: 900px;
  margin: 0.5rem auto;
  text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .hero-title h1 {
    font-size: 3.5rem; /* Adjust font size for tablets */
  }

  .hero-title h2 {
    font-size: 1.9rem; /* Adjust font size for tablets */
  }
}

@media (max-width: 768px) {
  .hero-title {
    padding: 0 1.5rem; /* Reduce padding for smaller screens */
  }

  .hero-title h1 {
    font-size: 2.7rem; /* Adjust font size for mobile */
  }

  .hero-title h2 {
    font-size: 1.6rem; /* Adjust font size for mobile */
  }
}

@media (max-width: 480px) {
  .hero-title {
    padding: 0 1rem; /* Further reduce padding for small phones */
  }

  .hero-title h1 {
    font-size: 2.5rem; /* Adjust font size for small phones */
  }

  .hero-title h2 {
    font-size: 1.5rem; /* Adjust font size for small phones */
  }
}
